#left-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#radio-container {
    padding: 10px;
}

#right-section {
    position: absolute;
    right: 0;
    top: 0;
    width: 75%;
    height: 100vh;
    overflow: scroll;
}

input[type="radio"] {
    margin-right: 10px;
}

.field {
    background-color: #cdcdcd;
    margin-right: 10px;
}